.post {
  margin-bottom: 4rem;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: var(--heading);
}

.subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: var(--body);
  padding-top: 15px;
}

.mais {
  color: var(--highlight);
}

.buttonMais{
  background-color: transparent;
  border: none;
}