.article {
  max-width: 720px;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5px;
  color: var(--heading);
}

.paragraphTitle {
  color: var(--heading);
  padding-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}
.paragraph {
  text-align: justify;
  line-height: 25px;
  padding-bottom: 1rem;
}

.content {
  line-height: 2rem;
  padding-top: 4rem;
  max-width: 720px;
}

.footerButtons {
  border-top: 1px solid var(--body);
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .footerButtonTitle {
    font-size: 18px;
    color: var(--heading);
    padding-bottom: 0.5rem;
  }
  .footerButtonText {
    font-size: 16px;
    color: var(--highlight);
  }
}
